
@{
    ViewBag.Title = "HandleQuestion";
}

<div class="jumbotron alert-danger">
    <h2>HandleQuestion</h2>
</div>

<ul>
    <li>Name : @ViewData["Name"]</li>
    <li>Email: @ViewData["Email"]</li>
    <li>Mobile : @ViewData["Mobile"]</li>
    <li>Comments : @ViewData["Comments"]</li>
</ul>

